*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.images img{
    width: calc(100% / 6);
    border: 1px solid white;

}

.container{
    width: 80%;
    margin: 3rem auto;
}

.card_img{
    max-width: 100%;
}
